<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>RubyNpms</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300&amp;subset=greek,latin,cyrillic,latin-ext" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <div class="container">
        <nav type="header">
          <div class="systems">
            <a href='https://rubygems.org' class="rubygems"></a>
            <span>+</span>
            <a href='https://npmjs.com' class="npmjs"></a>
          </div>
        </nav>

        <div id="logo">
          <span>Install NPM packages with Bundler!</span>
          <span>Ruby</span>
          <span>Npms</span>
          <span>.</span>
        </div>

        <section type="search">
          <form id="search" action="/search">
            <input type="search" name="search">
            <button type="submit"></button>
          </form>
        </section>
      </div>
    </header>

    <main></main>

    <footer></footer>
  </body>
</html>
