@import '~font-awesome/css/font-awesome.css';

body {
  color: #fff;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color:#57c5fa;
  background:linear-gradient(#57c5fa,#0a81fe);
  position: relative;

  &:before {
    content:'';
    height:100%;
    width:100%;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image:linear-gradient(90deg, rgba(255,255,255,.15) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(255,255,255,.15) 1px, rgba(0,0,0,0) 1px);
    background-position:0px 1px;
    background-repeat:repeat;
    background-size:20px 20px;
  }

  & .container {
    lost-center: 980px;

    & nav[type=header], & #logo, & section[type=search] {
      lost-column: 1/1;
    }

    & nav[type=header] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      & .systems {
        margin-top: 10px;
        margin-left: 10px;
        vertical-align: center;

        & .rubygems, & .npmjs {
          display: inline-block;
          background-repeat: no-repeat;
          text-decoration: none;
        }

        & .rubygems {
          height: 20px;
          width: 20px;
          background-size: 20px 20px;
          background-image: url('../img/rubygems-logo.png');
        }

        & .npmjs {
          height: 20px;
          width: 30px;
          background-size: 30px 20px;
          background-image: url('../img/npm-logo.svg');
        }

        & span {
          font-size: 30px;
          font-weight: 100;
          color: #fff;
          margin: 0 5px;
        }
      }
    }

    & #logo {
      text-align: center;
      padding: 50px 0 0 0;
      font-size: 50px;

      & span:first-child {
        lost-column: 1/1;
        font-weight: normal;
        font-weight: 100;
      }

      & span {
        font-weight: bolder;
        margin-left: -10px;
      }
    }

    & section[type=search] {
      lost-align: center;
      lost-utility: clearfix;
      height: 175px;

      & form {
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        background: rgba(255, 255, 255, 0.3);
        padding: 5px;
        position: relative;
        lost-column: 6/10;

        & input {
          lost-column: 1/1;
          border-radius: 3px;
          padding: 10px;
          outline: 0;
          border: 0;
        }

        & button {
          position: absolute;
          background: transparent;
          border: 0;
          top: 13px;
          right: 10px;
          color: #AAA;
          &:before {
            font-family: FontAwesome;
            content: '\f002';
          }
        }
      }
    }
  }
}
